<div class="jumbotron products">
  <div class="overlay">
    <h3 class="">YENİ ÜRÜN</h3>
  </div>
</div>

<form class="container" ng-submit="productsNew.create()">
  <label class="six columns" for="first_name">Ürün adı: </label>
  <input class="six columns" type="text" ng-model="productsNew.newProduct.name" name="" value="">

  <label class="six columns" for="first_name">Ürün fiyatı: </label>
  <input class="six columns" type="number" ng-model="productsNew.newProduct.price" name="" value="">

  <label class="six columns" for="first_name">Ürün açıklaması (yeni paragraf için cmle sonuna \n\n ekle): </label>
  <input class="six columns" type="text" ng-model="productsNew.newProduct.description" name="" value="">

  <label class="six columns" for="first_name">Ürün resmi (link): </label>
  <input class="six columns" type="text" ng-model="productsNew.newProduct.image" name="" value="">
  <button type="submit" name="button">Mağazaya ekle</button>
</form>
