<section class="container">
  <!-- {{ productsShow }} -->
  <!-- {{ productsShow.productsShow() }} -->
  <!-- <h1>{{productsShow.product}}</h1> -->
  <h3 class="twelve columns">Products Details</h3>
  <!-- Products View -->
  <div>
    <h5>{{ productsShow.product.name }}</h5>
    <p>{{ productsShow.product.price }} TL + KDV </p>
    <p>{{ productsShow.product.description }}</p>
    <img src="{{productsShow.product.image}}" alt="{{ productsShow.product.name }}">
    <!-- <button ng-click="products.addToCart(product)">Add To Cart</button> -->
    <!-- <button ng-click="products.delete(product)">Delete</button> -->

    <form class="twelve columns" ng-submit="products.update()">
      <input type="text" placeholder="Product name" ng-model="productsShow.product.name" name="" value="">
      <input type="number" placeholder="Product price" ng-model="productsShow.product.price" name="" value="">
      <input type="text" placeholder="Product description" ng-model="productsShow.product.description" name="" value="">
      <input type="text" placeholder="Product image" ng-model="productsShow.product.image" name="" value="">
      <button type="submit" name="button">Update</button>
    </form>
</div>
</section>
