body {
  background-color: rgba(255, 255, 250, 1);
  min-height: 100vh;
}

main {
  min-height: 120vh;
}

a {
  color: black;
}

br {
  line-height: 4rem;
}

h1 {
  margin: 0;
  padding: 1rem 0;
}

img {
  max-width: 100%;
}

input[type=radio] {
  margin-top: 1rem;
}

input[type="email"], input[type="number"], input[type="date"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select, label {
  display: inline-block;
  letter-spacing: .1rem;
  height: 4rem;
  line-height: 4rem;
}

mark {
  background-color: rgba(139, 195, 74, 0.5);
}

mark a {
  font-weight: 600;
  color: black;
}

mark a:hover {
  color: rgba(89, 125, 47, 1);
}

p {
  line-height: 3rem;
}

ul {
  list-style: none;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

a.button.admin {
  display: block;
  margin-bottom: 2.5rem;
  background-color: white;
  border-color: goldenrod;
  color: darkgoldenrod;
}

p.center {
  text-align: center;
}

form label.two.columns {
  text-align: left;
}

form button {
  display: block;
  font-size: inherit;
  height: 4.5rem;
  margin: 0 auto;
}

form button.mini {
  display: inline-block;
  padding: 0;
  background-color: black;
  border: none;
  border-radius: 5rem;
  height: 4rem;
  width: 4rem;
  margin-left: 1rem;
}

form button.mini i.right {
  margin: 0 0 -1px -4px;
  border-color: white;
  border-width: 0 2px 2px 0;
  /*margin-left: -4px;
  margin-bottom: -1px;*/
}

form, form label {
  text-align: center;
}
form button i.right {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: .5rem;
  margin-left: 1rem;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

form {
  padding-top: 2rem;

}

button.delete {
  margin-top: 2rem;
  background-color: rgba(255, 0, 0, 0.35);
 }

button.add {
  margin-left: 1rem;
  padding: 0 3rem;
  height: 5rem;
  background-color: black;
  color: white;
}

button.add img.icon {
  max-height: 2.5rem;
  max-width: 2.5rem;
  float: left;
  margin: .5rem 2rem 0 0;

}

button.add p {
  display: inline-block;
  padding: 0;
  margin: 0 2.5rem 0 0;
}

select#quantity {
  width: 5rem;
  height: 5rem;
}

span.bold {
  font-weight: bold;
}

form button {
  display: block;
  margin: 0 auto;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

nav {
  float: left;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

nav ul.container {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav ul li {
  margin-bottom: 0;
  padding: 1rem 0;
  text-transform: uppercase;
  cursor: pointer;
}

nav ul li:not(:first-child) {
    float: right;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a img.icon {
  max-height: 2.5rem;
  margin-right: 1rem;
}

nav ul li.logo a {
  font-size: 2rem;
}

nav ul li:not(:first-child) a.active {
  border-bottom: white 1px solid;
}

nav ul li:hover {
  background-color: white;
}

nav ul li:hover a {
  color: black;
}

div.jumbotron {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 50vh;
  margin: 0;
  margin-bottom: 3rem;
  background-image: url('/images/wine-cork-cover.jpg');

}

div.jumbotron div.overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

div.jumbotron.home {
  background-image: url('/images/couch-2000.png');
}

div.jumbotron h3 {
    color: white;
    margin: 0;
    position: relative;
    top: 5rem;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, +50%);
    float: left;
    left: 50%;
}

section.aboutus div.about-image {
  height: 30vh;
  width: 45vh;
  background-image: url('/images/resize_table.png');
  /*background-image: url('/images/meat-cheese-1000.png');*/
  background-size: cover;
  float: left;
  margin: 0;
  margin-right: 2rem;
}

section.usersView ul li a {
  color: black;
  text-decoration: none;
}

section.productsIndex ul {
  background-color: white;
}

section.productsIndex div.product-image {
  height: 30vh;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 0;

}

section.productsIndex ul li.four.columns {
  box-sizing: border-box;
  margin: 0;
  padding: 2%;
  min-height: 50vh;
  width: 33.3333333333%;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all .5s;

}

section.productsIndex ul li.six.columns div.overlay {
  display: none;
  opacity: 0;
  visibility: hidden;

  position: absolute;
  min-height: 52vh;
  background-color: rgba(255, 255, 255, .7);
  transition: all .2s;
}

section.productsIndex ul li.six.columns:hover div.overlay {
  display: block;
  width: 100%;
  border: 1px solid #999;
  visibility: visible;
  opacity: 1;
}

section.productsIndex ul li.six.columns div.overlay p {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  padding: 1rem 2rem;
  border: 1px solid black;
  border-radius: 2rem;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  text-align: center;
  font-weight: 600;
  letter-spacing: .5px;
}

section.productsIndex ul li a {
  color: black;
  text-decoration: none;
  display: block;
  position: relative;
}

section.productsIndex ul li a h5 {
  color: #999;
  padding: 0 2rem;
}

section.productsIndex ul li a p {
  padding: 0 2rem;
}

section.productsShow a.button {
  display: block;
}

section.productsShow div.productInfo p {
  white-space: pre-line;
}

section.cart div.alert {
  background-color: rgb(223, 182, 207);
}

section.cart div table {
  width: 100%;
}
section.cart div table td .cart-icons {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}

section.cart div table td .cart-icons.large {
  height: 2rem;
  width: 2rem;
}

section.cart form {
  margin: 0;
}

section.cart form label.radio {
  font-weight: 400;
}

footer.container {
  text-align: center;
  width: 100%;
  min-height: 30rem;
  max-width: 100%;
  padding: 2rem;
  padding-bottom: 5rem;
  margin-top: 3rem;
  border-top: 1px solid black;
}

footer * {
  margin-bottom: 1rem;
}

footer span.six.columns {
  /*border: 1px solid red;*/
}

footer span.six.columns div.newsletter {
  width: 90%;
  margin: 0 auto;
}

footer span.six.columns ul {
  width: 80%;
  margin: 0 auto;
  /*border: 1px solid black;*/
}

footer a {
  text-decoration: none;
  /*color: black;*/
}

footer ul li {
  margin-bottom: 1.5rem;
  line-height: 3rem;
}

footer span.contact-info ul li {
    text-align: left;
}

footer ul li img {
  margin-right: 1rem;
  float: left;
}

footer img.logo {
  float: left;
}

footer div.copyright {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
}

@media (min-width: 550px) {
  div.productInfo {
    padding-left: 3rem;
  }

  section.productsIndex ul li.six.columns {
    width: 50%;
    border: 1px solid transparent;
    margin-bottom: 0;
  }

  section.productsShow img {
    margin-right: 2rem;
    max-width: 60%;
    max-height: 60vh;
    float: left;
  }

  nav {
    padding: 0 1rem;
  }

  nav ul li a img.icon {
    float: left;
  }

  form button {
    width: 30%;
  }
  form label, form input {
    margin-bottom: 2rem;
  }

  form input.six.columns {
    width: 30%;
  }

  form textarea {
    height: 20rem;
    line-height: 2.5rem;

  }

  form label {
    text-align: right;
    padding-right: 2rem;
  }

  footer h4 {
    padding-left: 4rem;
  }
}

@media (max-width: 550px) {
  div.productInfo h3 {
    font-weight: 500;
  }

  div.productInfo h5 {
    font-size: 2.5rem;
    /*float: right;
    margin-left: 2rem;*/
  }

  form input[type=radio] {
    max-width: 2rem;
    margin-right: 1rem;
  }

  form input:last-of-type {
    margin-bottom: 3rem;
  }

  form label.radio.two.columns {
    width: 40%;
  }

button.add {
  width: 65vw;

}

}
