<div class="jumbotron aboutus" alt="Image">
  <div class="overlay">
    <h3 class="">Hakkımızda</h3>
  </div>
</div>

<section class="container aboutus">
  <div class="about-image"></div>
  <p class="">VINO için şarap ve şarap kültürü internetten gördüğünüzden fazlası. İçerisine girdiğiniz zaman muazzam bir dünya ile karşılaşıyorsunuz.
  <br>
  Şarap, rivayete göre Denizli yöresinde yaşamış Yunan tanrısı Dionysus’dan günümüze kadar kadar evrilerek gelmiş, sağlam tarihi ve kültürüyle kendini her gün yeniden var ediyor.
  <br>
  VINO için üzüm ve şarap değerli olduğu kadar şarabın son tüketiciye ulaştıktan sonraki saklama koşulları, sunumu, aksesuarları ve yaşamınızı şekillendiren dekorasyon ürünleri de bir o kadar incelikle düşünülmeli.
  <br>
  Amacımız içeriğimize gösterdiğimiz özen ve keyif dolu zenginlikle anlarınızda özel ve değerli hissetmenizi sağmak.
  <br>
  Bu yüzden VINO’dan alacağınız her ürün güzel, narin ve değerli şarabın bütün inceliğini ve keyfini daha çok yaşatmak amacıyla özenle seçilmekte ve sizler için dizayn edilmekte.
  <br>
  VINO’yla tanışan ya da tanışacak herkesin gününde şarap gibi güzel ve yıllarca hatırlanacak anıları olsun.</p>
</section>
