<div class="jumbotron home" src="/images/couch.jpg" alt="Image"></div>
<section class="container" id="privacy">
  <h3>
    Gizlilik Politikası
  </h3>

  <p>
    Vinoistanbul.com’un (IF GİRİŞİM VE TEKNOLOJİ A.Ş) gizlilik politikası aşağıda belirtilmiştir, Vinoistanbul.com’u ziyaret ederek aşağıdaki şartları ve kuralları uygulamayı kabul etmiş sayılmaktasınız.
    <br><br>
    Sitemizde yer alan her türlü bilgi, içerik, ürün ve müşteri yorumları veya üyeler tarafından siteye eklenmiş olan içerikler de dahil, düzenlenmesi ve kısmen/tamamen kullanımı konusunda (bir sözleşme ile üçüncü şahıslara ait olanlar hariç) tüm fikri-sınai haklar ve mülkiyet hakları Vinoistanbul.com’a aittir.
    <br><br>
    Müşteri tarafından sitede yayınlanmasına izin verilen tüm yazı, resim, video gibi içerikler sadece bilgilendirme amaçlıdır.
    <br><br>
    Vinoistanbul.com üyelik sırasında veya daha sonraki süreçlerde sizden bazı kişisel bilgiler talep edebilir, bu bilgilerin diğer üyelerin göremeyeceği ve ulaşamayacağı şekilde korunması ve güvenle saklanması için Vinoistanbul.com tüm önlemleri almaktadır, bilgi alınan tüm sayfalar SSL güvenlik sertifikası ile korunmaktadır.
    <br><br>
    Tüm online kredi kartı işlemleri ve onayları tarafımızdan bağımsız olarak ilgili Banka ve benzeri Kart Kuruluşları‘nca online olarak gerçekleştirilmektedir, Vinoistanbul.com ilgili güvenlik standartlarına her daim uyum sağlamaktadır.
    <br><br>
    Kayıtlı bilgiler yasal düzenlemelerin öngördüğü sorumluluklar çerçevesinde ilgili kuruluşlara açıklanabilir. Ayrıca üyelikleri ve/veya alışverişleri sırasında vermiş oldukları iletişim bilgileri (telefon, adres, e-mail vs) ve diğer kişisel bilgiler Sitemize üyelik işlemlerinizin yapılması, güncellenmesi, muhtelif ürün/hizmetlerin Vinoistanbul.com ve iş ortakları ve tedarikçileri tarafından verilebilmesi/satımı, ürün/hizmet ücret-masrafı tahsilatları ve çeşitli tanıtım, reklam, promosyon, iletişim, satış ve çeşitli uygulamalar için süresiz olarak kayda alınabilir, Vinoistanbul.com ve belirtilen kuruluşlar nezdinde saklanabilir, işlenebilir, gerekli görülen hal-yer ve zamanda paylaşılabilir ve kullanılabilir. İade durumunda müşterinin ürünler için fatura ibraz etmesi zorunludur.
    <br><br>
    Sipariş ön bilgilendirme formu ve mesafeli satış sözleşmesi Vinoistanbul.com’dan yapılacak her alışveriş sırasında görülebilecek ve geçerli olacaktır.
    <br><br>
    Vinoistanbul.com belirli dönemlerde müşteri izinleri alınmış ve segmente edilmiş hedef kitlelerine eposta ve diğer yöntemler ile pazarlama ve bilgi mesajları gönderebilir, bu mesajları almak istemiyorsanız email içerisindeki üyelikten ayrıl linkine tıklayarak eposta listesinden çıkabilirsiniz.
    <br><br>
    Gizlilik politikamız ile ilgili her türlü soru ve öneriniz için sitemizdeki iletişim bölümünden bize ulaşabilirsiniz.
    <br><br>
    Ünvan: IF GİRİŞİM VE TEKNOLOJİ A.Ş.
    <br><br>
    Adres: Barbaros Bul. Bahar Sok. No:4 K:6 D:17 Balmumcu Beşiktaş/İSTANBUL
    <br><br>
    Telefon: (212) 212 0 282
    <br><br>
    E-Posta: siparis@Vinoistanbul.com
  </p>
</section>

<section class="container" id="prenup">
  <h3>
    Ön Bilgilendirme Formu
  </h3>
  <p>
    <strong>
      1. SATICIYA İLİŞKİN BİLGİLER
    </strong>
    <br>
    Ticari Ünvan:IF Girişim ve Teknoloji Anonim Şirketi (Bundan böyle “SATICI” olarak anılacaktır)
    <br>
    Adres:Barbaros Bul. Bahar Sok. No:4 K:6 D:17 Balmumcu Beşiktaş-İstanbul
    <br>
    Telefon:(212) 212 0 282
    <br>
    Faks:(212) 212 0 292
    <br>
    E-posta Adresi:siparis@bloomandfresh.com
    <br>
    Mersis Numarası:0465041271300014
    <br><br>
    <strong>
      2. ALICIYA İLİŞKİN BİLGİLER
    </strong>
    <br>
    Adı Soyadı:
    <br>
    Adresi:
    <br>
    Telefon:
    <br>
    E-posta Adresi:
    <br><br>
    <strong>
      3. KONU
    </strong>
    <br>
    İşbu Ön Bilgilendirme Formu’nun konusu; Alıcının, aşağıda nitelik ve satış fiyatı belirtilen ürün ya da ürünlerin satışı ve teslimi ile ilgili olarak 6502 sayılı Tüketicilerin Korunması Hakkında Kanun ve 27 Kasım 2014 tarihli ve 29188 sayılı Resmi Gazetede yayınlanan Mesafeli Sözleşmelere Dair Yönetmelik hükümleri gereğince bilgilendirilmesidir.
    <br><br>
    <strong>
      4. SÖZLEŞME KONUSU ÜRÜNÜN TEMEL ÖZELLİKLERİ ve ÖDEME BİLGİLERİ
    </strong>
    <br>
    İşbu kısımda sözleşme konusu ürün ya da ürünlerin temel özellikleri açıklanmaktadır.
    <br>
    Mal/Ürün/Hizmet Türü: Çiçek Gönderimi
    <br>
    Sipariş Numarası:
    <br>
    Ürün Adı:
    <br>
    Miktarı: 1
    <br>
    Satış Fiyatı (Vergiler Dahil):
    <br>
    Sipariş bedelinin ödenme şekli: Kredi Kartı veya Banka Kartı
    <br>
    Teslimat Şekli: Servis
    <br>
    Teslim masraflarının tutarı :0,00 TL
    <br><br>
    <strong>
      5. MAL/HİZMETİN TESLİM ZAMANI
    </strong>
    <br>
    Teslimat, sipariş sırasında seçilen tarih ve saat aralığı içerisinde gerçekleştirilecektir.
    <br><br>
    <strong>
      6. MAL/HİZMETİN TESLİMATI
    </strong>
    <br>
    Mal/hizmetin teslimi Alıcı veya gösterdiği adresteki kişi/kuruluşa yapılır. Alıcı, kendisinden başka birine ve de kendi adresinden başka bir adrese teslimat yapılmasını isterse, bu talebi doğrultusunda teslimat yapılır. Teslimat masrafları Alıcıya aittir. Satıcı, web sitesinde, ilan ettiği rakamın üzerinde alışveriş yapanların veya kimi kampanyalarında teslimat ücretinin kendisince karşılanacağını beyan etmişse, teslimat masrafı Satıcı tarafından karşılanır.
    <br><br>
    Sipariş konusu mal/hizmetin teslimatı için işbu önbilgilendirme formunun Alıcı tarafından online olarak onaylanmış olması ve mal/hizmet bedelinin Alıcının tercih ettiği ödeme sekli ile ödenmiş olması şarttır. Herhangi bir nedenle mal/hizmet bedeli ödenmez veya banka kayıtlarında iptal edilir ise, Satıcı mal/hizmetin teslimi yükümlülüğünden kurtulmuş kabul edilir.
    <br><br>
    <strong>
      7. ÖDEME ŞEKLİ
    </strong>
    <br>
    Ödemeler kredi kartı, EFT veya havale yöntemlerinden birisi kullanılarak yapılabilir.
    <br><br>
    <strong>
      8. GEÇERLİLİK SÜRESİ
    </strong>
    <br>
    Listelenen ve siteden ilan edilen fiyatlar satış fiyatıdır. İlan edilen fiyatlar ve vaatler güncelleme yapılana ve değiştirilene kadar geçerlidir. Süreli olarak ilan edilen fiyatlar ise belirtilen süre sonuna kadar geçerliliğini korur. Ancak hatayla yanlış yazılan, tedarikçinin geç bildirmesi ile güncellenmemiş olan fiyat farklılıklarında Satıcının müşteriye bildireceği güncel fiyat geçerli kabul edilecektir. Hata durumlarında mal/hizmet bedelinden fazla çekim yapılmışsa farkı iade edilir. Mal/hizmetin gerçek fiyatı ilan edilenden farklı ise Alıcıya gerçek fiyat bildirilir. Müşterinin talebi doğrultusunda gerçek fiyat üzerinden satış gerçekleştirilir ya da satış iptal edilir.
    <br><br>
    <strong>
      9. CAYMA HAKKI
    </strong>
    <br>
    Alıcı mal satışına ilişkin mesafeli sözleşmelerde, malı teslim aldığı tarihten itibaren on dört gün içerisinde hiçbir hukuki ve cezai sorumluluk üstlenmeksizin ve hiçbir gerekçe göstermeksizin malı reddederek sözleşmeden cayma hakkına sahiptir. Hizmet sunumuna ilişkin mesafeli sözleşmelerde ise, bu süre sözleşmenin imzalandığı tarihte başlar. Sözleşmede, hizmetin ifasının on dört günlük süre dolmadan yapılması kararlaştırılmışsa, tüketici ifanın başlayacağı tarihe kadar cayma hakkını kullanabilir. Cayma hakkının kullanımından kaynaklanan masraflar satıcıya aittir.
    <br><br>
    Cayma hakkının kullanılması için Alıcı tarafından on dört günlük süre içinde Satıcıya yukarıda bildirilen faks, telefon veya elektronik posta ile bildirimde bulunulması şarttır. Cayma Hakkı kapsamında yer alan iade usulleri Mesafeli Satış Sözleşmesinde yer almaktadır. Bu hakkın kullanılması halinde, 3. kişiye veya Alıcıya teslim edilen mal/hizmete ilişkin fatura aslinin iadesi zorunludur. Cayma hakkına ilişkin ihbarın ulaşmasını takip eden en geç 14 (on dört) gün içinde mal/hizmet bedeli ve teslimat masrafları Alıcıya iade edilir ve 10 (on) günlük süre içinde mal/hizmeti alıcı iade etmekle mükelleftir. Fatura asli gönderilmezse Alıcıya KDV ve varsa diğer yasal yükümlülükler iade edilemez. Cayma hakkı ile iade edilen mal/hizmetin teslimat bedeli Alıcı tarafından karşılanır.
    <br><br>
    <strong>
      10. CAYMA HAKKININ KULLANILAMAYACAĞI MAL/HİZMETLER
    </strong>
    <br>
    Niteliği itibarıyla iade edilemeyecek mal/hizmetler, hızla bozulan ve son kullanma tarihi geçen mal/hizmetler, tek kullanımlık mal/hizmetler, kopyalanabilir her türlü yazılım ve programlardır.
    <br>
    a) Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve satıcı veya sağlayıcının kontrolünde olmayan mal veya hizmetlere ilişkin sözleşmeler.
    <br>
    b) Tüketicinin istekleri veya kişisel ihtiyaçları doğrultusunda hazırlanan mallara ilişkin sözleşmeler.
    <br>
    c) Çabuk bozulabilen veya son kullanma tarihi geçebilecek malların teslimine ilişkin sözleşmeler.
    <br>
    ç) Tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olan mallardan; iadesi sağlık ve hijyen açısından uygun olmayanların teslimine ilişkin sözleşmeler.
    <br>
    d) Tesliminden sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması mümkün olmayan mallara ilişkin sözleşmeler.
    <br>
    e) Malın tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olması halinde maddi ortamda sunulan kitap, dijital içerik ve bilgisayar sarf malzemelerine ilişkin sözleşmeler.
    <br>
    f) Abonelik sözleşmesi kapsamında sağlananlar dışında, gazete ve dergi gibi süreli yayınların teslimine ilişkin sözleşmeler.
    <br>
    g) Belirli bir tarihte veya dönemde yapılması gereken, konaklama, eşya taşıma, araba kiralama, yiyecek-içecek tedariki ve eğlence veya dinlenme amacıyla yapılan boş zamanın değerlendirilmesine ilişkin sözleşmeler.
    <br>
    ğ) Elektronik ortamda anında ifa edilen hizmetler veya tüketiciye anında teslim edilen gayrimaddi mallara ilişkin sözleşmeler.
    <br>
    h) Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile ifasına başlanan hizmetlere ilişkin sözleşmeler.
    <br><br>
    <strong>
      11. GEÇERLİLİK
    </strong>
    <br>
    İşbu ön bilgilendirme formu, elektronik ortamda Alıcı tarafından okunarak kabul edildikten sonra Mesafeli Satış Sözleşmesi kurulması aşamasına geçilecektir.
    <br><br>
    <strong>
      12. YETKİLİ MAHKEME
    </strong>
    <br>
    Tüketici; şikâyet ve itirazları konusunda başvurularını, T.C. Gümrük ve Ticaret Bakanlığı tarafından her yıl Aralık ayında belirlenen parasal sınırlar dâhilinde tüketicinin mal veya hizmeti satın aldığı veya ikametgâhının bulunduğu yerdeki tüketici sorunları hakem heyetine veya tüketici mahkemesine yapabilir.
    <br><br>
    <strong>
      13. SON HÜKÜMLER
    </strong>
    <br>
    Siparişe ilişkin verilen belge ve bilgilerin eksik, sahte ve/veya yanlış olduğunun saptanması veya siparişin kötü niyetle/veya ticari ve/veya kazanç elde etmek amacıyla yapılmış olduğuna dair şüphenin varlığı ya da tespiti halinde, herhangi bir zamanda, Alıcı’yı bilgilendirmek koşuluyla sipariş başvurusunu, gerekli incelemelerin yapılmasını teminen durdurma ve/veya iptal etme hakkını saklı tutar. İptal halinde, ödeme için iade süreci yine Alıcı’ya bildirilmek kaydıyla yapılabilir.
    <br><br>
    <strong>
      14. İSTİSNA
    </strong>
    <br>
    İşbu ön bilgilendirme formunda yer alan ve 6502 sayılı Tüketicinin Korunması Hakkında Kanundan doğarak tüketicilere hukuki koruma sağlayan madde hükümleri sadece alıcının Tüketici olduğu hallerde geçerli olarak hüküm ifade edecek olup; alıcının 6502 sayılı kanunda yer alan Tüketici tanımına uymadığı hallerde ilgili maddeler taraflar arasında hüküm ifade etmeyecektir.
    <br><br>
    Alıcı; 6502 S.K.’un M. 48, f.2 ve Mes. Söz. Yön. 5., 6. ve 7. maddeleri gereğince Ön Bilgileri okuyup bilgi sahibi olduğunu ve elektronik ortamda gerekli teyidi verdiğini kabul, taahhüt ve beyan eder.
  </p>

</section>

<section class="container" id="distance">
  <h3>
    Mesafeli Satış Sözleşmesi
  </h3>

  <p>
    <h5>MADDE 1 - TARAFLAR</h5>
    <strong>1.1 SATICI</strong>
    <br>
    Ticari Ünvan:IF Girişim ve Teknoloji Anonim Şirketi (Bundan böyle “SATICI” olarak anılacaktır)
    <br>
    Adres:Barbaros Bul. Bahar Sok. No:4 K:6 D:17 Balmumcu Beşiktaş-İstanbul
    <br>
    Telefon: (212) 212 0 282
    <br>
    Faks: (212) 212 0 292
    <br>
    E-posta Adresi: siparis@bloomandfresh.com
    <br>
    Mersis Numarası: 0465041271300014
    <br>
    <strong>1.2 ALICI</strong>
    <br>
    Adı Soyadı:
    <br>
    Adresi:
    <br>
    Telefon:
    <br>
    E-posta Adresi:
    <br><br>

    <strong>MADDE 2 - KONU</strong>
    <br>
    İşbu Sözleşmenin konusu, ALICI'nın SATICI'ya ait www.bloomandfresh.com İnternet sitesinden elektronik ortamda siparişini yaptığı aşağıda nitelikleri ve satış fiyatı belirtilen ürünün satışı ve teslimi ile ilgili olarak 6502 sayılı Tüketicilerin Korunması Hakkındaki Kanun ve Mesafeli Sözleşmeler Yönetmeliği hükümleri gereğince tarafların hak ve yükümlülüklerinin saptanmasıdır.
    <br><br>

    <strong>MADDE 3 - SÖZLEŞME KONUSU ÜRÜN</strong>
    <br>
    Sözleşme Tarihi:
    <br>
    Ürünün teslim tarihi/saat aralığı:
    <br>
    Mal/Ürün/Hizmet Türü: Çiçek Gönderimi
    <br>
    Sipariş Numarası:
    <br>
    Ürün Adı:
    <br>
    Miktarı: 1
    <br>
    Satış Fiyatı (Vergiler Dahil):
    <br>
    Sipariş bedelinin ödenme şekli: Kredi Kartı veya Banka Kartı
    <br>
    Teslimat Şekli: Servis
    <br>
    Teslim masraflarının tutarı :0,00 TL
    <br><br>

    <strong>MADDE 4 - CAYMA HAKKI</strong>
    <br>
    Alıcı mal satışına ilişkin mesafeli sözleşmelerde, malı teslim aldığı tarihten itibaren on dört gün içerisinde hiçbir hukuki ve cezai sorumluluk üstlenmeksizin ve hiçbir gerekçe göstermeksizin malı reddederek sözleşmeden cayma hakkına sahiptir. Hizmet sunumuna ilişkin mesafeli sözleşmelerde ise, bu süre sözleşmenin imzalandığı tarihte başlar. Sözleşmede, hizmetin ifasının on dört günlük süre dolmadan yapılması kararlaştırılmışsa, tüketici ifanın başlayacağı tarihe kadar cayma hakkını kullanabilir. Cayma hakkının kullanımından kaynaklanan masraflar satıcıya aittir.
    <br>
    Cayma hakkının kullanılması için Alıcı tarafından on dört günlük süre içinde Satıcıya yukarıda bildirilen faks, telefon veya elektronik posta ile bildirimde bulunulması şarttır. Cayma Hakkı kapsamında yer alan iade usulleri Mesafeli Satış Sözleşmesinde yer almaktadır. Bu hakkın kullanılması halinde, 3. kişiye veya Alıcıya teslim edilen mal/hizmete ilişkin fatura aslinin iadesi zorunludur. Cayma hakkına ilişkin ihbarın ulaşmasını takip eden en geç 14 (on dört) gün içinde mal/hizmet bedeli ve teslimat masrafları Alıcıya iade edilir ve 10 (on) günlük süre içinde mal/hizmeti alıcı iade etmekle mükelleftir. Fatura asli gönderilmezse Alıcıya KDV ve varsa diğer yasal yükümlülükler iade edilemez. Cayma hakkı ile iade edilen mal/hizmetin teslimat bedeli Alıcı tarafından karşılanır.
    <br><br>

    <strong>MADDE 5 - CAYMA HAKKININ KULLANILAMAYACAĞI MAL/HİZMETLER</strong>
    <br>
    Niteliği itibarıyla iade edilemeyecek mal/hizmetler, hızla bozulan ve son kullanma tarihi geçen mal/hizmetler, tek kullanımlık mal/hizmetler, kopyalanabilir her türlü yazılım ve programlardır.
    <br>
    a) Fiyatı finansal piyasalardaki dalgalanmalara bağlı olarak değişen ve satıcı veya sağlayıcının kontrolünde olmayan mal veya hizmetlere ilişkin sözleşmeler.
    <br>
    b) Tüketicinin istekleri veya kişisel ihtiyaçları doğrultusunda hazırlanan mallara ilişkin sözleşmeler.
    <br>
    c) Çabuk bozulabilen veya son kullanma tarihi geçebilecek malların teslimine ilişkin sözleşmeler.
    <br>
    ç) Tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olan mallardan; iadesi sağlık ve hijyen açısından uygun olmayanların teslimine ilişkin sözleşmeler.
    <br>
    d) Tesliminden sonra başka ürünlerle karışan ve doğası gereği ayrıştırılması mümkün olmayan mallara ilişkin sözleşmeler.
    <br>
    e) Malın tesliminden sonra ambalaj, bant, mühür, paket gibi koruyucu unsurları açılmış olması halinde maddi ortamda sunulan kitap, dijital içerik ve bilgisayar sarf malzemelerine ilişkin sözleşmeler.
    <br>
    f) Abonelik sözleşmesi kapsamında sağlananlar dışında, gazete ve dergi gibi süreli yayınların teslimine ilişkin sözleşmeler.
    <br>
    g) Belirli bir tarihte veya dönemde yapılması gereken, konaklama, eşya taşıma, araba kiralama, yiyecek-içecek tedariki ve eğlence veya dinlenme amacıyla yapılan boş zamanın değerlendirilmesine ilişkin sözleşmeler.
    <br>
    ğ) Elektronik ortamda anında ifa edilen hizmetler veya tüketiciye anında teslim edilen gayrimaddi mallara ilişkin sözleşmeler.
    <br>
    h) Cayma hakkı süresi sona ermeden önce, tüketicinin onayı ile ifasına başlanan hizmetlere ilişkin sözleşmeler.
    <br><br>

    <strong>MADDE 6 - GENEL HÜKÜMLER</strong>
    <br>
    6.1 ALICI, Madde 3'te belirtilen Sözleşme konusu ürünün temel nitelikleri, satış fiyatı ve ödeme şekli ile teslimata ilişkin tüm ön bilgileri okuyup bilgi sahibi olduğunu ve elektronik ortamda gerekli teyidi verdiğini beyan eder.
    <br>
    6.2 Sözleşme konusu ürün, yasal 30 (otuz) günlük süreyi aşmamak koşulu ile her bir ürün için ALICI'nın yerleşim yerinin uzaklığına bağlı olarak ön bilgiler içinde açıklanan süre içinde ALICI veya gösterdiği adresteki kişi/kuruluşa teslim edilir. Satıcı bu yükümlülüğüne aykırı davranır ise tüketici işbu Sözleşme’yi feshedebilir. Sözleşme’nin feshi durumunda, satıcı veya sağlayıcı, varsa teslimat masrafları da dahil olmak üzere tahsil edilen tüm ödemeleri fesih bildiriminin kendisine ulaştığı tarihten itibaren 14 (ondört) gün içinde tüketiciye ilgili mevzuat uyarınca belirlenen kanuni faiziyle birlikte geri ödemek ve varsa tüketiciyi borç altına sokan tüm kıymetli evrak ve benzeri belgeleri iade etmek zorundadır.
    <br>
    6.3 Sözleşme konusu ürün, ALICI'dan başka bir kişi/kuruluşa teslim edilecek ise, teslim edilecek kişi/kuruluşun teslimatı kabul etmemesinden SATICI sorumlu tutulamaz.
    <br>
    6.4 SATICI, Sözleşme konusu ürünün sağlam, eksiksiz, siparişte belirtilen niteliklere uygun olarak teslim edilmesinden sorumludur. Haklı bir sebebe dayanmak şartıyla SATICI, Sözleşme’den doğan ifa yükümlülüğünün süresi dolmadan, ALICI’ya eşit kalite ve fiyatta mal veya hizmet tedarik edebilir.
    <br>
    6.5 Sözleşme konusu ürünün teslimatı için işbu Sözleşme’nin elektronik ortamda teyit edilmesi ve Sözleşme konusu siparişin bedelinin ödenmesi şarttır. Herhangi bir nedenle ürün bedeli ödenmez veya banka kayıtlarında iptal edilir ise, SATICI ürün teslimi yükümlülüğünden kurtulmuş kabul edilir.
    <br>
    6.6 SATICI sipariş konusu mal ya da hizmet ediminin yerine getirilmesinin imkansızlaştığı hallerde durumu öğrendiği tarihten itiberen 3 gün içerisinde ALICI'ya durumu yazılı olarak veya kalıcı veri saklayıcısı ile bildirmekle yükümlüdür. Bu durumda SATICI teslimat masrafları da dahil olmak üzere tahsil edilen tüm ödemeleri bildirim tarihinden itibaren en geç 14 (ondört) gün içerisinde ALICI’ya iade eder.
    <br>
    6.7 SATICI, malın ALICI ya da ALICI’nın taşıyıcı dışında belirleyeceği üçüncü bir kişiye teslimine kadar oluşan kayıp ve hasarlardan sorumludur.
    <br>
    6.8 ALICI’nın SATICI’nın belirlediği taşıyıcı dışında başka bir taşıyıcı ile malın gönderilmesini talep etmesi durumunda, malın ilgili taşıyıcıya tesliminden itibaren oluşabilecek kayıp ya da hasardan SATICI sorumlu değildir.
    <br>
    6.9 SATICI tarafından sunulan hizmet perakende satış kapsamında tüketiciye yöneliktir; SATICI, ALICI’nın yeniden satış amacı bulunduğundan şüphe etmesi halinde işbu Sözleşme kurulmuş olsa dahi siparişi iptal etme ve ürünleri teslim etmeme hakkını saklı tutar.
    <br>
    6.10 SATICI mücbir sebepler veya nakliyeyi engelleyen hava muhalefeti, ulaşımın kesilmesi gibi olağanüstü durumlar nedeni ile Sözleşme konusu ürünü süresi içinde teslim edemez ise, durumu ALICI'ya bildirmekle yükümlüdür. Bu takdirde ALICI siparişin iptal edilmesini, Sözleşme konusu ürünün varsa emsali ile değiştirilmesini, ve/veya teslimat süresinin engelleyici durumun ortadan kalkmasına kadar ertelenmesi haklarından birini kullanabilir. ALICI'nın siparişi iptal etmesi halinde ödediği tutar 14 gün içinde kendisine nakden ve defaten ödenir.
    <br><br>

    <strong>MADDE 7 - YETKİLİ MAHKEME</strong>
    <br>
    İşbu Sözleşmenin uygulanmasında, tüketici; şikâyet ve itirazları konusunda başvurularını, T.C. Gümrük ve Ticaret Bakanlığı tarafından her yıl Aralık ayında belirlenen parasal sınırlar dâhilinde tüketicinin mal veya hizmeti satın aldığı veya ikametgâhının bulunduğu yerdeki tüketici sorunları hakem heyetine veya tüketici mahkemesine yapabilir.
    <br><br>
    <strong>İstisna</strong>
    <br>
    İşbu mesafeli satış sözleşmesinde yer alan ve 6502 sayılı Tüketicinin Korunması Hakkında Kanundan doğarak tüketicilere hukuki koruma sağlayan madde hükümleri sadece alıcının Tüketici olduğu hallerde geçerli olarak hüküm ifade edecek olup; alıcının 6502 sayılı kanunda yer alan Tüketici tanımına uymadığı hallerde ilgili maddeler taraflar arasında hüküm ifade etmeyecektir.
    <br>
    IF Girişim ve Teknoloji Anonim Şirketi A.Ş.
  </p>

</section>
