<div class="jumbotron" alt="Image">
  <div class="overlay">
    <h3 class="">SİPARİŞ DETAYLARI</h3>
  </div>
</div>

<section class="container ordersShow">
  <a ui-sref="ordersEdit({ id: ordersShow.order.id })" class="button admin">Siparişi düzenle</a>

  {{ ordersShow.order.items }}

  <p>
    Sipariş tarihi: {{ ordersShow.order.createdAt | date:'medium' }}  <br>
    Güncelleme tarihi: {{ ordersShow.order.updatedAt | date:'medium' }}  <br>
    Siparişi veren: {{ ordersShow.order.createdBy.first_name }} {{ ordersShow.order.createdBy.last_name }}  <br>
    Maliyet: {{ ordersShow.order.orderCost | date:'medium' }}  <br>
    Ödeme şekli: {{ ordersShow.order.paymentMethod }}  <br>
    Ödeme durumu: {{ ordersShow.order.paymentStatus }}
  </p>

  <h4>
    Alıcı bilgileri
  </h4>
  <p>
    Ad Soyad: {{ ordersShow.order.deliverTo.recipient }} <br>
    Telefon: {{ ordersShow.order.deliverTo.phone }} <br>
    Adres: ({{ ordersShow.order.deliverTo.addressType }}) {{ ordersShow.order.deliverTo.fullAddress }}, {{ ordersShow.order.deliverTo.borough }}/{{ ordersShow.order.deliverTo.city }} {{ ordersShow.order.deliverTo.postcode }}
  </p>

  <h4>
    Ürünler
  </h4>
  <ul class="">
    <li class="" ng-repeat="item in ordersShow.order.items | orderBy : 'name' track by $index">
      <a ui-sref="productsShow({ id: item.id })">
        <h5>{{ item }}</h5>
      </a>
    </li>
  </ul>


<!-- {"updatedAt":"2017-10-13T10:04:19.852Z","createdAt":"2017-10-13T10:04:19.852Z","createdBy":{"first_name":"Vino","last_name":"Admin","email":"admin@vino.com","password":"$2a$08$cexbkiDQg3cTY5Kty6ANxeyhNrudkNJaFGFiOAPK9FJeIrrEymdqi","city":"Adana","birthday":"1960-07-09T23:00:00.000Z","gender":"Kadın","passwordConfirmation":null,"id":"59db5f4db21bd51e343536ee"},"items":[],"id":"59e08fa368a68036e62e64e0"}   -->

</section>

<script type="text/ng-template" id="template/ngCart/addtocart.html">
  <div ng-hide="attrs.id">
    <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>

  </div>
  <div ng-show="attrs.id">
    <div>
      <span ng-show="quantityMax">
        <select name="quantity" id="quantity" ng-model="q"
                  ng-options=" v for v in qtyOpt"></select>
      </span>
      <button class="add"  ng-click="ngCart.addItem(id, name, price, q, data)">
        <img class="icon" src="/images/shopping-cart-white.svg" alt="Cart">
         <p>Sepete ekle</p>
       </button>
    </div>
    <mark  ng-show="inCart()">
      Bu ürün sepetinize eklendi. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Sepetten çıkar</a>
    </mark>
  </div>
</script>
