<div class="jumbotron products">
  <div class="overlay">
    <h3 class="">SEPETİM</h3>
  </div>
</div>

<section class="container cart checkout">
<!-- CART PAGE IS NEW ORDER PAGE -->
<!-- CLICKING ON DELIVERY WILL CREATE ORDER AND REDIRECT TO EDIT ORDER PAGE -->
</section>

<section class="container cart checkout">
  <div class="checkout" id="cartView">
    <ngcart-cart></ngcart-cart>

    <button name="shipping" id="shipButton">
      Teslimat detayları
      <i class="arrow right"></i>
    </button>
  </div>

<!-- <select class="form-control" data-val="true" data-val-required="Lütfen il seçiniz." id="Address_AddressCityId" name="Address.AddressCityId">
  <option value="">Seçiniz</option>
  <option>İstanbul</option>
  <option>Ankara</option>
  <option>İzmir</option>
  <option>Adana</option>
  <option>Adıyaman</option>
  <option>Afyonkarahisar</option>
  <option>Ağrı</option>
  <option>Aksaray</option>
  <option>Amasya</option>
  <option>Antalya</option>
  <option>Ardahan</option>
  <option>Artvin</option>
  <option>Aydın</option>
  <option>Balıkesir</option>
  <option>Bartın</option>
  <option>Batman</option>
  <option>Bayburt</option>
  <option>Bilecik</option>
  <option>Bingöl</option>
  <option>Bitlis</option>
  <option>Bolu</option>
  <option>Burdur</option>
  <option>Bursa</option>
  <option>Çanakkale</option>
  <option>Çankırı</option>
  <option>Çorum</option>
  <option>Denizli</option>
  <option>Diyarbakır</option>
  <option>Düzce</option>
  <option>Edirne</option>
  <option>Elazığ</option>
  <option>Erzincan</option>
  <option>Erzurum</option>
  <option>Eskişehir</option>
  <option>Gaziantep</option>
  <option>Giresun</option>
  <option>Gümüşhane</option>
  <option>Hakkari</option>
  <option>Hatay</option>
  <option>Iğdır</option>
  <option>Isparta</option>
  <option>Kahramanmaraş</option>
  <option>Karabük</option>
  <option>Karaman</option>
  <option>Kars</option>
  <option>Kastamonu</option>
  <option>Kayseri</option>
  <option>Kırıkkale</option>
  <option>Kırklareli</option>
  <option>Kırşehir</option>
  <option>Kilis</option>
  <option>Kocaeli</option>
  <option>Konya</option>
  <option>Kütahya</option>
  <option>Malatya</option>
  <option>Manisa</option>
  <option>Mardin</option>
  <option>Mersin</option>
  <option>Muğla</option>
  <option>Muş</option>
  <option>Nevşehir</option>
  <option>Niğde</option>
  <option>Ordu</option>
  <option>Osmaniye</option>
  <option>Rize</option>
  <option>Sakarya</option>
  <option>Samsun</option>
  <option>Siirt</option>
  <option>Sinop</option>
  <option>Sivas</option>
  <option>Şanlıurfa</option>
  <option>Şırnak</option>
  <option>Tekirdağ</option>
  <option>Tokat</option>
  <option>Trabzon</option>
  <option>Tunceli</option>
  <option>Uşak</option>
  <option>Van</option>
  <option>Yalova</option>
  <option>Yozgat</option>
  <option>Zonguldak</option>
</select> -->

  <div class="checkout" id="paymentView">
    <label for="payment"><h4>Ödeme seçenekleri:</h4></label>
    <br>
    <div class="clearfix">
      <input class="one column" type="radio" id="paymentChoice1" name="payment" value="Havale">
      <label class="radio eleven columns" for="paymentChoice1">
         Havale/EFT
       </label>

      <br>

      <input class="one column" type="radio" id="paymentChoice2" name="payment" value="Kapida odeme">
      <label class="radio eleven columns" for="paymentChoice2">
        Kapıda ödeme
      </label>

      <!-- <p>
        Kapıda ödeme avantajı için alt limit 75 TL ve üst limit 2000 TL'dir.
      <br>
        Kapıda ödeme ile verilen siparişlerde 6,95 TL tutarında "Kapıda ödeme hizmet bedeli" alınmaktadır. Bu hizmet bedelinin iadesi yapılmamaktadır.
      </p> -->

      <input class="one column" type="radio" id="paymentChoice3" name="payment" value="Garanti Pay">
      <label class="radio eleven columns" for="paymentChoice3">
         Garanti Pay
       </label>
     </div>

    <button name="shipping" id="shipButton">
      <i class="arrow left"></i>
      Teslimat detayları
    </button>
    <button name="review" id="reviewButton"  ui-sref="checkout">
      Sipariş detaylarını gözden geçir
      <i class="arrow right"></i>
    </button>
  </div>

  <div>
    <form>
      <label for="coupon">İndirim kodu ekleyin:</label>
      <input type="text" id="coupon">
      <button class="mini" onclick="submitCoupon()"><i class="arrow right"></i></button>
      <p><small>İndiriminiz siparişi tamamla butonuna bastıktan sonra eklenecektir.</small></p>
    </form>
  </div>
</section>

<script type="text/ng-template" id="orderSummary.html">
  Content of the template does change..!!
  Stupid ngCart
</script>

<script type="text/ng-template" id="template/ngCart/cart.html">
  <div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
      Sepetinizde ürün bulunmamaktadır.
  </div>

  <div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">
    <table class="table table-striped ngCart cart">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Adet</th>
        <th>Fiyat</th>
        <th>Toplam</th>
      </tr>
      </thead>
      <tfoot>
      <tr ng-show="ngCart.getTax()">
        <td></td>
        <td></td>
        <td></td>
        <td>KDV ({{ ngCart.getTaxRate() }}%):</td>
        <td>{{ ngCart.getTax() | currency: '₺ ' }}</td>
      </tr>
      <tr ng-show="ngCart.getShipping()">
        <td></td>
        <td></td>
        <td></td>
        <td>Kargo:</td>
        <td>{{ ngCart.getShipping() | currency: '₺ ' }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Toplam:</td>
        <td>{{ ngCart.totalCost() | currency: '₺ ' }}</td>
      </tr>
      </tfoot>
      <tbody>
      <tr ng-repeat="item in ngCart.getCart().items track by $index">
        <td><img class="cart-icons large" src="/images/foundation-icons/svgs/fi-x.svg" ng-click="ngCart.removeItemById(item.getId())"></span></td>

        <td>{{ item.getName() }}</td>

        <td>
          <img class="cart-icons" src="/images/foundation-icons/svgs/fi-minus.svg" ng-class="{'disabled':item.getQuantity()==1}"
                  ng-click="item.setQuantity(-1, true)">&nbsp;&nbsp;
            {{ item.getQuantity() | number }}&nbsp;&nbsp;
            <img class="cart-icons" src="/images/foundation-icons/svgs/fi-plus.svg" ng-click="item.setQuantity(1, true)"></td>
        <td>{{ item.getPrice() | currency: '₺ '}}</td>
        <td>{{ item.getTotal() | currency: '₺ ' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</script>
