<section class="container productsView">
  <h3 class="twelve columns">Products</h3>
  <!-- Products View -->
  <div>
    <p>There are {{ products.all.length }} products</p>
    <ul>
      <li class="four columns" ng-repeat="product in products.all track by $index">
        <!-- {{product}} -->
        <h4><a href="#">{{ product.name }}</a></h4>
        <img src="http://via.placeholder.com/300x150" alt="{{ product.name }}">
        <!-- <button ng-click="products.addToCart(product)">Add To Cart</button> -->
        <button ng-click="products.delete(product)">Delete</button>

      </li>
    </ul>
    <form class="twelve columns" ng-submit="products.create()">
      <input type="text" placeholder="Product name" ng-model="products.newProduct.name" name="" value="">
      <button type="submit" name="button">Add</button>
    </form>
  </div>
</section>
